In [27]:
import pandas as pd
import io, gzip
import numpy as np
from codecs import decode
import pysrt
import datetime as dt
import base64
import sys
from xmlrpc.client import ServerProxy
import os as os
import os.path
import json
import xarray as xr

In [28]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [29]:
tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [66]:
imdb_id=[132,14,24,132,14]
linfo=['StartTime','EndTime','Line']
index=pd.MultiIndex.from_product([imdb_id,linfo],names=['IDs','LData'])
test=pd.DataFrame(np.random.randn(3,15),columns=index)
test

IDs         132                           14                            24   \
LData StartTime   EndTime      Line StartTime   EndTime      Line StartTime
0      1.261827 -0.174539  0.102993 -0.345974 -0.013262  0.464666 -0.770416
1     -0.504736  0.767586  0.107515 -1.482035  0.894602  0.981320  0.426025
2      1.643623 -0.317716  0.707549 -0.318034 -0.030709  0.314634 -0.298426

IDs                             132                           14             \
LData   EndTime      Line StartTime   EndTime      Line StartTime   EndTime
0      0.593462  2.794058 -0.494675 -1.387789  0.402488 -1.027363 -2.104044
1      0.171144 -0.122939  0.218855 -0.703819 -0.266014  1.741935 -1.419656
2      1.294081  0.192485  2.099051 -1.614982 -0.058891  1.249545  0.206992

IDs
LData      Line
0     -0.216712
1      1.711162
2     -0.326830

In [67]:
test.columns

MultiIndex(levels=[[14, 24, 132], ['EndTime', 'Line', 'StartTime']],
           labels=[[2, 2, 2, 0, 0, 0, 1, 1, 1, 2, 2, 2, 0, 0, 0], [2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]],
           names=['IDs', 'LData'])

In [51]:
test.drop(14,axis=1,level=0,inplace=True)
test.columns = pd.MultiIndex.from_tuples(test.columns.to_series())

In [52]:
test

        132                           24                            132  \
  StartTime   EndTime      Line StartTime   EndTime      Line StartTime
0  0.576128  0.587476 -0.483673 -0.518725 -1.164362 -2.202704  0.991296
1 -1.214971 -1.178908  0.701725  1.217500  0.376632 -0.607897 -0.212119
2 -0.224384  0.433302  0.914432 -0.060566  0.649280 -0.737075  0.022952


    EndTime      Line
0 -0.003603  0.093624
1  1.297236 -0.027150
2 -0.766551 -1.079801

In [48]:
imdb_id=[56]
linfo=['StartTime','EndTime','Line']
index=pd.MultiIndex.from_product([imdb_id,linfo],names=['IDs','LData'])
test2=pd.DataFrame(np.random.randn(8,3),columns=index)
test2

IDs          56
LData StartTime   EndTime      Line
0     -0.284557  1.441826  0.948740
1     -0.247056  1.192615 -0.191863
2      1.848481 -0.752164  1.739157
3     -1.222425  1.151820 -1.197490
4      0.724710  1.845773  1.941485
5      0.697852  1.881566  0.774329
6      0.528269 -0.265108  0.415407
7     -0.603113  1.860013 -1.986248

In [49]:
hh=pd.concat([ggg,test2], axis=1)
hh

NameError: name 'ggg' is not defined

In [46]:
TEMP_SUBS=hh
TEMP_SUBS

NameError: name 'hh' is not defined

In [375]:
TEMP_SUBS.drop(14,axis=1,level=0,inplace=True)
TEMP_SUBS.columns = pd.MultiIndex.from_tuples(TEMP_SUBS.columns.to_series())

In [365]:
cols = pd.MultiIndex.from_tuples([("a", "b"), ("a", "c"), ("a", "f"), ('x', 'c'),('x', 'f')])
df = pd.DataFrame([[1,3, 7, 21, 8], [2, 4, 9, 21, 8]], columns=cols)
df

   a         x
   b  c  f   c  f
0  1  3  7  21  8
1  2  4  9  21  8

In [366]:
del df['x']

In [369]:
df

   a
   b  c  f
0  1  3  7
1  2  4  9

In [373]:
df.columns.to_series()

a  b    (a, b)
   c    (a, c)
   f    (a, f)
dtype: object

In [368]:
pd.MultiIndex.from_tuples(df.columns.to_series())

MultiIndex(levels=[['a'], ['b', 'c', 'f']],
           labels=[[0, 0, 0], [0, 1, 2]])

In [354]:
df.columns = pd.MultiIndex.from_tuples(df.columns.to_series())
 
df.columns
MultiIndex(levels=[[u'a'], [u'b', u'c', u'f']],
           labels=[[0, 0, 0], [0, 1, 2]])

Empty DataFrame
Columns: []
Index: []

In [363]:
pd.concat([dd,df], axis=1)

   a         x
   b  c  f   c  f
0  1  3  7  21  8
1  2  4  9  21  8

In [244]:
TEMP_SUBS.drop(14, axis=1, level=0, inplace=True)

In [270]:
TEMP_SUBS=TEMP_SUBS[TEMP_SUBS['IDs']]

NameError: name 'ii' is not defined

In [261]:
TEMP_SUBS.columns

MultiIndex(levels=[[14, 32, 56, 132], ['EndTime', 'Line', 'StartTime']],
           labels=[[3, 3, 3, 1, 1, 1, 2, 2, 2], [2, 0, 1, 2, 0, 1, 2, 0, 1]],
           names=['IDs', 'LData'])

In [144]:
TEMP_SUBS.to_hdf('TEMP_SUBS.h5', 'imdb_id', min_itemsize=100)

In [145]:
open_temp=pd.read_hdf('TEMP_SUBS.h5', 'imdb_id')

In [157]:
open_temp.columns.levels

FrozenList([[14, 32, 56, 132], ['EndTime', 'Line', 'StartTime']])

In [179]:
imdb_id=[56]
test3=pd.DataFrame(np.random.randn(8,3),columns=['StartTime','EndTime','Line'])
test3

   StartTime   EndTime      Line
0  -0.021409 -1.365202 -0.683789
1   1.277700  0.460811  2.075403
2   0.665425  0.925933  1.459065
3   0.628088 -0.989582 -0.833153
4  -1.666710  1.297471  0.729070
5   0.668121  0.811984 -0.349525
6  -0.639504  0.260654  1.282409
7  -0.807984 -0.461976  1.146245

In [182]:
test2[56]['Line']

0    0.363301
1    0.886876
2   -0.673198
3   -1.630666
4    0.385590
5    2.086717
6   -0.761104
7    0.474953
Name: Line, dtype: float64

# Playing with count vectorizer

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
import tokenize
vectorizer=CountVectorizer()

In [14]:
corpus = [
...     'This is the first document.',
...     'This is the second second document.',
...     'And the third one.',
...     'Is this the first document?',
... ]

In [20]:
X = vectorizer.fit_transform(corpus)
X

<4x9 sparse matrix of type '<class 'numpy.int64'>'
	with 19 stored elements in Compressed Sparse Row format>

In [26]:
analyzer=vectorizer.build_analyzer()
analyzer

In [24]:
tags = ["python, tools",
  "linux, tools, ubuntu",
  "distributed systems, linux, networking, tools"]
vec = CountVectorizer()
data = vec.fit_transform(tags).toarray()
data

array([[0, 0, 0, 1, 0, 1, 0],
       [0, 1, 0, 0, 0, 1, 1],
       [1, 1, 1, 0, 1, 1, 0]], dtype=int64)